body {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial;
  color: rgb(92, 84, 84);
  flex-direction: column;
}

.container {
  margin: 20px;
  text-align: center;
  border-bottom: 1px solid grey;
}

.nav-bar {
  width: 100%;
  position: sticky;
  background-color: white;
  box-shadow: rgb(0 0 0 / 12%) 0 1px 8px;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 30px;
  width: 46px;
  background-size: 47px;
  background-image: url('images/sofa-logo.png');
  margin: 20px;
}

.prop_header {
  text-align: center;
  font-size: 1.5rem;
}

.user-container {
  margin: 20px;
  font-size: 1.3rem;
}

#reviews {
  font-size: 1.2rem;
}



#propertyDisplay {
  display: flex;
  justify-content: center;
}

.property-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 20%;
  max-width: 400px;
  transition: box-shadow 0.3s ease-in-out;
}

.property-card:hover {
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
}

.property-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

.property-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.no-login {
  padding: 3em;
  text-align: center;
}

.footer {
  background-color: rgb(35, 19, 107);
  color: white;
}

.footer div {
  display: flex;
  justify-content: center
}

.footer div p {
  margin-right: 2em;
}

@media screen and (max-width: 600px) {
  .property-card {
      max-width: 100%;
  }
}


